<div class="h-14 flex items-center">
  <a href="/" class="icon-button">
    <x-icon>arrow_back</x-icon>
  </a>

  <div class="text-lg font-medium px-4">
    <%= t "general.bookmarks" %>
  </div>
</div>

<div class="layout-main-sidebar">
  <div class="max-w-screen-lg mx-auto">
    <%= render "components/scroll_pagination", pagy: @pagy do %>
      <%= render partial: "account/posts/post", collection: @posts %>
    <% end %>
  </div>
</div>
