<div class="max-w-screen-lg mx-auto">
  <div class="text-lg font-medium">
    Bookmarks
  </div>

  <div class="mt-6">
    <%= render "components/scroll_pagination", pagy: @pagy do %>
      <%= render partial: "home/post", collection: @posts %>
    <% end %>
  </div>
</div>
