<div class="dropdown" data-controller="dropdown">
  <button type="button" class="button button--icon" data-action="dropdown#toggle">
    <span class="material-icons">share</span>
  </button>
  <div class="dropdown__menu dropdown__menu--top-right">
    <a href="https://www.facebook.com/sharer.php?<%= URI.encode_www_form(u: account_post_url(post.account, post)) %>" class="dropdown__item" target="_blank" rel="noopener noreferrer">
      Facebook
    </a>
    <a href="https://twitter.com/intent/tweet?<%= URI.encode_www_form(url: account_post_url(post.account, post), text: post.title) %>" class="dropdown__item" target="_blank" rel="noopener noreferrer">
      Twitter
    </a>
    <a href="https://service.weibo.com/share/share.php?<%= URI.encode_www_form(url: account_post_url(post.account, post), title: post.title) %>" class="dropdown__item" target="_blank" rel="noopener noreferrer">
      Weibo
    </a>
  </div>
</div>
