<% @page_titles.push @account.display_name %>

<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, account_feed_url(@account, format: :atom) %>
<% end %>

<div class="max-w-screen-md mx-auto">
  <div class="flex-grow min-w-0">
    <%= render "account/header", account: @account %>

    <div class="mt-4">
      <%= render partial: "home/post", collection: @posts %>
    </div>
  </div>
</div>
