<%# locals: (form:, name:, label: nil, description: nil) %>

<div class="flex gap-4">
  <%= form.check_box name, class: "checkbox" %>
  <div class="flex-grow">
    <%= form.label name, label, class: "leading-6 font-medium" %>
    <% if description %>
      <div class="text-sm text-base-content/80">
        <%= description %>
      </div>
    <% end %>
  </div>
</div>
