<%# locals: (icon: nil, label: "Dropdown Item", trailing_icon: nil, tag: :a, options: {}, active: false) %>

<%= content_tag tag, options.merge(class: "h-10 px-4 flex items-center gap-4 w-full text-left cursor-pointer select-none #{active ? 'interactive-bg-secondary-container' : 'interactive-bg-surface'}", tabindex: "0") do %>
  <% if icon %>
    <div class="icon w-6 h-6">
      <%= material_icon icon %>
    </div>
  <% end %>
  <div class="flex-grow text-sm">
    <%= label %>
  </div>
  <% if trailing_icon %>
    <div class="icon w-6 h-6">
      <%= material_icon trailing_icon %>
    </div>
  <% end %>
<% end %>
