<%# locals: (align: :top_left, toggle: "toggle") %>

<%
  menu_style = case align
  when :top_left
    "left-0 mt-1"
  when :top_right
    "right-0 mt-1"
  when :bottom_left
    "left-0 bottom-full mb-1"
  when :bottom_right
    "right-0 bottom-full mb-1"
  end
%>

<div class="relative inline-block align-middle group">
  <label tabindex="0">
    <%= toggle %>
  </label>

  <div tabindex="0" class="absolute <%= menu_style %> w-60 py-2 rounded shadow-md z-10 transition invisible opacity-0 group-focus-within:visible group-focus-within:opacity-100 bg-surface">
    <%= yield %>
  </div>
</div>
