<%# locals: (form:, name:, autofocus: false, options: {}) %>

<div class="markdown-field textarea w-full group" data-controller="markdown-field">
  <%= form.hidden_field name, options.merge(data: { markdown_field_target: "contentInput" }) %>
  <div class="flex items-center p-1 gap-1 rounded-t border-b border-base-300">
    <div class="join">
      <button type="button" class="btn join-item not-group-[.previewing]:bg-base-300" data-markdown-field-target="editButton" data-action="markdown-field#write">
        <%= t "general.edit" %>
      </button>
      <button type="button" class="btn join-item group-[.previewing]:bg-base-300" data-markdown-field-target="previewButton" data-action="markdown-field#preview">
        <%= t "general.preview" %>
      </button>
    </div>
    <div class="border-l border-base-300 h-6 mx-2"></div>
    <button type="button" class="btn btn-ghost btn-square" data-markdown-field-target="toolbarButton" data-action="markdown-field#attachFile">
      <x-icon>attach_file</x-icon>
    </button>
  </div>
  <markdown-editor input="<%= form.field_id name %>" class="min-h-[160px]" data-markdown-field-target="markdownEditor"></markdown-editor>
</div>
