<%# locals: (url: nil, label: "Item", active: false) %>

<a href="<%= url %>" class="primary-tab <%= 'primary-tab--active' if active %>">
  <div class="primary-tab__content">
    <%= label %>
  </div>
</a>
