<%# locals: (form:, name:, value:, label: nil, description: nil) %>

<label class="flex gap-4 relative">
  <div class="flex-none">
    <%= form.radio_button name, value, class: "radio" %>
  </div>
  <div class="flex-grow">
    <div class="font-medium">
      <%= label %>
    </div>
    <% if description %>
      <div class="text-sm text-base-content/80">
        <%= description %>
      </div>
    <% end %>
  </div>
</label>
