<%# locals: (for: "search_modal_toggle", placeholder: "Search") %>

<div>
  <div class="h-14 flex items-center gap-2 p-2 relative">
    <button type="button" class="absolute inset-0 interactive-bg-surface-container-high rounded-full cursor-pointer" data-controller="toggle" data-toggle-dialog-outlet="#search-dialog" data-action="toggle#dialog"></button>
    <div class="flex-shrink-0 p-2 pointer-events-none relative text-on-surface">
      <div class="icon w-6 h-6">
        <%= material_icon :search %>
      </div>
    </div>
    <div type="button" class="flex-grow min-w-0 line-clamp-1 pointer-events-none relative text-on-surface">
      <%= placeholder %>
    </div>
    <div class="flex-shrink-0 relative">
    </div>
  </div>

  <dialog class="dialog w-[560px] mt-16" id="search-dialog" data-controller="dialog" data-action="click->dialog#backdropClose">
    <div class="p-6">
      <input type="text" class="w-full" placeholder="Search" autofocus>
    </div>
    <div class="p-6">
      Search result
    </div>
  </dialog>
</div>
