<%# locals: (icon: nil, label: "Tab", url: nil, active: false) %>


<a href="<%= url %>" class="tab <%= 'tab--active' if active %>">
  <% if icon %>
    <%= material_icon icon %>
  <% end %>
  <div>
    <%= label %>
  </div>
</a>
