<div id="main">
  <h2 class="headline-4"><%= t '.your_email_has_been_verified' %></h2>
  <a href="<%= root_path %>" class="button button--text button--primary">
    <div class="button__text">
      <%= t '.back_to_homepage' %>
    </div>
    <div class="button__icon">
      <span class="material-icons">arrow_forward</span>
    </div>
  </a>
</div>
