<div class="container container--small padding-3">
  <div class="card card--elevated background-surface padding-3">
    <div id="main">
      <h2 class="headline-medium margin-top-0 margin-bottom-3">
        <%= t '.email_verification' %>
      </h2>
      <%= form_with url: user_email_verification_path(token: params[:token]), method: :patch, data: { controller: 'form', action: 'turbo:load@window->form#submit' } do |form| %>
        <%= t '.verifying' %>
      <% end %>
    </div>
  </div>
</div>
