<div class="container container--small padding-3">
  <div class="headline-medium display-flex align-items-center gap-2 margin-bottom-4">
    <a href="<%= settings_root_path %>" class="link-title">
      <%= t 'common.settings' %>
    </a>
    <span class="material-icons">chevron_right</span>
    <%= t 'common.notifications' %>
  </div>

  <%= render 'form' %>
</div>
