<p>为了使用 GeekNote 完整功能，请点击下方链接验证邮箱地址：</p>

<p class="aligncenter">
  <a href="<%= user_email_verification_url(token: @user.email_verification_token) %>" class="btn-primary">
    验证邮箱地址
  </a>
</p>

<p>收到此邮件是因为该邮件地址曾经在 GeekNote 注册，如果这不是您预期的请忽略此邮件。链接将在一周后过期。</p>
