<p>
  忘记了 GeekNote 账号 <%= @user.name %> 的密码？点击下方链接重置密码：
</p>

<p>
  <a href="<%= edit_user_password_url(token: @user.password_reset_token ) %>" class="btn-primary">
    重置密码
  </a>
</p>

<p>重置链接将在 30 分钟后过期。</p>
