<h1>
  Hi <%= @user.account.name %>,
</h1>

<p>
  您最近要求重置您的<%= @site.name %>账号密码。请点击下方按钮重置。<b>链接将在 30 分钟后过期。</b>
</p>

<div class="body-action">
  <a href="<%= edit_identity_password_url(token: @user.password_reset_token ) %>" class="button button--green">
    重置密码
  </a>
</div>

<p>
  如果这不是您预期的，请忽略此邮件。
</p>
