<p>
  Forgot your GeekNote password for <%= @user.name %> ? Just hit the link below to set a new one.
</p>

<p class="aligncenter">
  <a href="<%= edit_user_password_url(token: @user.password_reset_token ) %>" class="btn-primary">
    Reset Password
  </a>
</p>

<p>This link will expire in 30 minutes.</p>
