<div class="container container--medium padding">
  <div class="row">
    <div class="col-3">
      <%= render 'settings/nav' %>
    </div>
    <div class="col-9">
      <div class="padding">
        <h3 class="margin-top-0">Account</h3>

        <div class="margin-bottom">
          <a href="<%= account_dashboard_settings_profile_path(current_user.account) %>" class="button button--text">
            <div class="button__icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg>
            </div>
            <div class="button__text">
              Edit profile
            </div>
          </a>
        </div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
