<div class="container container--medium padding">
  <div class="row">
    <div class="col-3">
      <%= render 'settings/nav' %>
    </div>
    <div class="col-9">
      <div class="padding">
        <h3 class="margin-top-0">Account</h3>

        <div class="margin-bottom">
          <a href="<%= account_dashboard_settings_profile_path(current_user.account) %>" class="button button--text">
            <div class="button__icon">
              <span class="material-icons">edit</span>
            </div>
            <div class="button__text">
              Edit profile
            </div>
          </a>
        </div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
