  <div id="cover-image-form">
    <div class="image-uploader">
      <div class="image-uploader__preview">
        <div class="cover-image">
          <div class="cover-image__inner">
            <%= cover_image_tag @account.owner.cover_image %>
          </div>
        </div>
      </div>
      <div class="image-uploader__toolbar">
        <div class="image-uploader__toolbar__action">
          <%= form_with model: @account.owner, url: account_dashboard_settings_cover_image_path(@account), data: { controller: 'form' } do |form| %>
            <label class="button button--icon">
              <span class="material-icons">add_photo_alternate</span>
              <%= form.file_field :cover_image, direct_upload: true, class: 'image-uploader__input', data: { action: 'change->form#submit' } %>
            </label>
          <% end %>
        </div>
        <div class="image-uploader__toolbar__action">
          <%= form_with url: account_dashboard_settings_cover_image_path(@account), method: :delete do |form| %>
            <button type="submit" class="button button--icon">
              <span class="material-icons">delete</span>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
