<%= turbo_stream.replace 'preview-dialog' do %>
  <div id="preview-dialog" class="dialog dialog--open dialog--full-screen" data-controller="dialog">
    <div class="dialog__container">
      <div class="toolbar border-bottom">
        <div class="toolbar__title">
          Preview
        </div>
        <div class="toolbar__action">
          <button type="button" class="button button--icon" data-action="dialog#close">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
          </button>
        </div>
      </div>
      <div class="flex-grow-1">
        <iframe src="<%= space_post_path(@space, @post) %>" class="post-preview-iframe">
        </iframe>
      </div>
      <div class="toolbar__bottom border-top">
      </div>
    </div>
  </div>
<% end %>
