<%
  post = notification.post
%>

<a href="<%= account_post_path(post.account.name, post) %>" class="flex p-4 gap-4 interactive-bg-surface-container-lowest">
  <div class="flex-shrink-0">
    <div class="icon w-6 h-6">
      <%= material_icon :block %>
    </div>
  </div>
  <div class="flex-grow">
    <div class="font-medium line-clamp-1">
      Your post <%= post.title %> has been blocked.
    </div>
  </div>
  <div class="flex-shrink-0">
    <div class="text-sm text-on-surface-variant">
      <%= format_time notification.created_at %>
    </div>
  </div>
</a>
