<%
  post = notification.post
%>

<a href="<%= account_post_path(post.account.name, post) %>" class="flex p-4 gap-4 interactive">
  <div class="shrink-0">
    <x-icon>block</x-icon>
  </div>
  <div class="grow">
    <div class="font-medium line-clamp-1">
      <%= t ".title", title: post.title %>
    </div>
  </div>
  <div class="shrink-0">
    <div class="text-sm text-on-surface-variant">
      <%= format_time notification.created_at %>
    </div>
  </div>
</a>
