<% followed = Current.user && account.follows.where(user: Current.user).exists? %>

<%= form_with url: account_follow_path(account), id: "account-#{account.name}-follow-button", method: (followed ? 'delete' : 'post') do |form| %>
  <% if followed %>
    <button type="submit" class="outlined-button">
      Unfollow
    </button>
  <% else %>
    <button type="submit" class="filled-button">
      Follow
    </button>
  <% end %>
<% end %>
