<% followed = Current.user && account.follows.where(user: Current.user).exists? %>

<%= form_with url: account_follow_path(account.name), id: "account-#{account.name}-follow-button", method: (followed ? 'delete' : 'post') do |form| %>
  <% if followed %>
    <button type="submit" class="btn">
      <%= t "general.unfollow" %>
    </button>
  <% else %>
    <button type="submit" class="btn btn-primary btn-soft">
      <%= t "general.follow" %>
    </button>
  <% end %>
<% end %>
