<% followed = current_user && account.follows.where(user: current_user).exists? %>

<%= form_with url: account_follow_path(account), id: "account-#{account.name}-follow-button", method: (followed ? 'delete' : 'post') do |form| %>
  <% if followed %>
    <button type="submit" class="button button--filled">
      <%= t 'common.following' %>
    </button>
  <% else %>
    <button type="submit" class="button button--outlined">
      <%= t 'common.follow' %>
    </button>
  <% end %>
<% end %>
