<% followed = Current.user && account.follows.where(user: Current.user).exists? %>

<%= form_with url: account_follow_path(account.name), id: "account-#{account.name}-follow-button", method: (followed ? 'delete' : 'post') do |form| %>
  <% if followed %>
    <button type="submit" class="button button--outlined">
      <%= t "general.unfollow" %>
    </button>
  <% else %>
    <button type="submit" class="button button--filled">
      <%= t "general.follow" %>
    </button>
  <% end %>
<% end %>
