<% followed = current_user && account.follows.where(user: current_user).exists? %>

<%= form_with url: account_follow_path(account), id: "account-#{account.name}-follow-button", method: (followed ? 'delete' : 'post'), class: "width-100" do |form| %>
  <% if followed %>
    <button type="submit" class="button button--outlined width-100 justify-content-center">
      <%= t 'common.following' %>
    </button>
  <% else %>
    <button type="submit" class="button button--filled width-100 justify-content-center">
      <%= t 'common.follow' %>
    </button>
  <% end %>
<% end %>
