<div id="<%= dom_id(notification) %>" class="list-row hover:bg-base-200 relative <%= "font-medium" if notification.unread? %>">
  <%=
    begin
      render "notifications/notification/#{notification.type.demodulize.underscore}", notification: notification
    rescue
      notification.destroy
      nil
    end
  %>
</div>
