<div id="<%= dom_id notification %>" class="relative">
  <%=
    begin
      render "notifications/notification/#{notification.type.demodulize.underscore}", notification: notification
    rescue
      notification.destroy
      nil
    end
  %>
</div>
