<div class="max-w-screen-lg mx-auto">
  <div class="text-lg font-medium">
    Notifications
  </div>

  <div class="card py-3 mt-6">
    <%= render "components/scroll_pagination", pagy: @pagy do %>
      <%= render partial: "notification", collection: @notifications %>
    <% end %>
  </div>
</div>
