<div class="top-app-bar">
  <div class="top-app-bar__headline">
    <%= t "general.notifications" %>
  </div>
</div>

<div class="layout-main-sidebar">
  <div class="">
    <div class="card">
      <div class="py-4">
        <%= render "components/scroll_pagination", pagy: @pagy do %>
          <%= render partial: "notification", collection: @notifications %>
        <% end %>
      </div>
    </div>
  </div>
</div>
