<div class="container container--small padding-3">
  <div class="card card--elevated background-surface">
    <div class="top-app-bar">
      <div class="top-app-bar__title">
        <%= t 'common.notifications' %>
      </div>
    </div>
    <div class="">
      <% @notifications.each do |notification| %>
        <% begin %>
          <%= render "notifications/#{notification.type}", notification: notification %>
        <% rescue %>
          <% notification.destroy %>
        <% end %>
      <% end %>
    </div>
    <div class="padding-3">
      <%= paginate @notifications %>
    </div>
  </div>
</div>
