<div class="container container--medium">
  <div class="subheader">
    <%= t 'common.notifications' %>
  </div>
  <div class="list">
    <% @notifications.each do |notification| %>
      <% begin %>
        <%= render "notifications/#{notification.type}", notification: notification %>
      <% rescue %>
        <% notification.destroy %>
      <% end %>
    <% end %>
  </div>

  <div class="padding">
    <%= paginate @notifications %>
  </div>
</div>
