<% @show_dock = true %>

<div class="navbar px-0 gap-4">
  <div class="grow">
    <div class="text-xl font-medium">
      <%= t "general.notifications" %>
    </div>
  </div>
</div>

<div class="layout-main-sidebar">
  <div>
    <div class="card card-default">
      <div class="card-body">
        <%= render "components/scroll_pagination", pagy: @pagy, content_class: "list" do %>
          <%= render partial: "notification", collection: @notifications %>
        <% end %>
      </div>
    </div>
  </div>
</div>
