<div class="container container--medium">
  <div class="subheader">
    Notifications
  </div>
  <div class="list">
    <% @notifications.each do |notification| %>
      <%= render "notifications/#{notification.type}", notification: notification %>
    <% end %>
  </div>

  <%= paginate @notifications %>
</div>
