<div class="app-bar-wrapper">
  <div class="app-bar app-bar--borderless">
    <div class="toolbar">
      <div class="toolbar__title">
        Settings
      </div>
    </div>
  </div>

  <div class="app-content">
    <div class="container container--small">
      <div class="padding">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
