<div class="toolbar">
  <div class="toolbar__action">
    <a href="<%= account_dashboard_settings_path(@account) %>" class="button button--icon">
      <span class="material-icons">arrow_back</span>
    </a>
  </div>
  <div class="toolbar__title">
    Profile
  </div>
</div>

<div class="container container--medium">
  <div class="padding">
    <h4 class="margin-top-0">Cover Image</h4>
    <%= render 'account/dashboard/settings/cover_images/form' %>
    <h4>Avatar</h4>
    <%= render 'account/dashboard/settings/avatars/form' %>
    <h4>Info</h4>
    <%= render 'form' %>
  </div>
</div>
