<div class="row">
  <div class="col-3">
    <%= render 'account/dashboard/settings/nav' %>
  </div>

  <div class="col-9">
    <div class="toolbar">
      <div class="toolbar__title">
        Profile
      </div>
    </div>

    <div class="padding">
      <%= render 'form' %>
    </div>
  </div>
</div>
