<div class="row">
  <div class="col-3">
    <%= render 'account/dashboard/settings/nav' %>
  </div>

  <div class="col-9">
    <div class="toolbar">
      <div class="toolbar__title">
        Profile
      </div>
    </div>

    <div class="padding">
      <h4 class="margin-top-0">Cover Image</h4>
      <%= render 'account/dashboard/settings/cover_images/form' %>
      <h4>Avatar</h4>
      <%= render 'account/dashboard/settings/avatars/form' %>
      <h4>Info</h4>
      <%= render 'form' %>
    </div>
  </div>
</div>
