<%= render "dashboard/header" %>

<div class="layout-nav-main">
  <div>
  </div>

  <div>
    <div class="card mt-4">
      <%= render "dashboard/settings/tabs" %>

      <div class="max-w-screen-sm mx-auto">
        <div class="p-4">
          <% if @account.user? %>
            <%= render "user_form", user: @account.owner %>
          <% else %>
            <%= render "organization_form", organization: @account.owner %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
