<div class="card cardd-border border-base-300 bg-base-100">
  <div class="card-body">
    <h2 class="card-title">
      <%= t "general.profile" %>
    </h2>

    <div class="max-w-screen-sm">
      <% if @account.user? %>
        <%= render "user_form", user: @account.owner %>
      <% else %>
        <%= render "organization_form", organization: @account.owner %>
      <% end %>
    </div>
  </div>
</div>
