<div class="comment" id="comment-form">
  <div class="comment__avatar">
    <div class="avatar">
      <%= avatar_image_tag current_user.avatar %>
    </div>
  </div>
  <div class="flex-grow-1">
    <div class="padding-y padding-right">
      <%= form_with model: comment, url: [@account, @post, comment], builder: CustomFormBuilder, class: 'form' do |form| %>
        <%= form.hidden_field :parent_id %>
        <div class="form__field">
          <%= form.text_area :content, rows: 3 %>
        </div>
        <button type="submit" class="button button--contained button--primary">
          <% if comment.new_record? %>
            Post
          <% else %>
            Save
          <% end %>
        </button>
      <% end %>
    </div>
  </div>
</div>
