  <div id="comment-<%= comment.id %>-replies-button">
    <% if comment.replies_count > 0 %>
      <a href="<%= account_post_comments_path(@account, @post, parent_id: comment.id) %>" class="button button--text button--muted comment__show-replies-button" data-turbo-stream="true" data-action="comment#showReplies">
        <div class="button__label">
          <%= comment.replies_count %> <%= t 'common.replies' %>
        </div>
        <div class="button__icon">
          <span class="material-icons">expand_more</span>
        </div>
      </a>

      <button class="button button--text button--muted display-none comment__hide-replies-button" data-action="comment#hideReplies">
        <div class="button__label">
          Hide replies
        </div>
        <div class="button__icon">
          <span class="material-icons">expand_less</span>
        </div>
      </button>
    <% end %>
  </div>
