<div class="container padding-3">
  <div class="post-layout">
    <div></div>
    <div>
      <div class="card card--elevated">
        <div class="display-flex gap-2 align-items-center padding-2 margin-1">
          <a href="<%= account_post_comment_path(@account, @post, @comment) %>" class="button button--icon">
            <span class="material-icons">arrow_back</span>
          </a>
          <div class="title-medium">
            <%= t 'common.edit_comment' %>
          </div>
        </div>

        <%= render 'form', comment: @comment %>
      </div>
    </div>
  </div>
</div>
