<div class="container container--post">
  <div class="breadcrumb padding">
    <a href="<%= account_post_path(@account, @post) %>" class="breadcrumb__item">
      <%= @post.title %>
    </a>
    <a href="<%= account_post_comments_path(@account, @post) %>" class="breadcrumb__item">
      Comments
    </a>
  </div>
  <%= render 'form', comment: @comment %>
</div>
