<% @body_class = "background-surface" %>

<div class="container container--post padding-3">
  <div class="top-app-bar">
    <div class="top-app-bar__action">
      <a href="<%= account_post_comment_path(@account, @post, @comment) %>" class="button button--icon">
        <span class="material-icons">arrow_back</span>
      </a>
    </div>
    <div class="top-app-bar__title">
      <%= t 'common.edit_comment' %>
    </div>
  </div>

  <%= render 'form', comment: @comment %>
</div>
