<div class="toolbar">
  <div class="toolbar__action">
    <a href="<%= account_dashboard_members_path %>" class="button button--icon">
      <span class="material-icons">arrow_back</span>
    </a>
  </div>
  <div class="toolbar__title">
    Invite member
  </div>
</div>

<div class="container container--small">
  <div class="padding">
    <%= render 'form' %>
  </div>
</div>
