<%= turbo_frame_tag "post-#{@post.id}-collections" do %>
  <div class="toolbar">
    <div class="toolbar__title">
      Add to collction
    </div>
    <div class="toolbar__action">
      <button type="button" class="button button--text button--user">
        <div class="button__avatar">
          <div class="avatar">
            <%= avatar_image_tag @account.owner.avatar %>
          </div>
        </div>
        <div class="button__text">
          <%= @account.owner.name %>
        </div>
        <div class="button__icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/></svg>
        </div>
      </button>
    </div>
  </div>

  <div class="list">
    <%= render @collections %>
  </div>
<% end %>
