<%= turbo_stream.remove("posts__load-more") %>

<%= turbo_stream.append("posts") do %>
  <%= render partial: 'account/posts/post', collection: @pagination[:page].pluck(:data), cached: -> post { [post.account, post.user, post] } %>

  <% if @pagination[:page_info][:has_next_page] %>
    <a href="<%= url_for(after: @pagination[:page_info][:end_cursor]) %>" class="button button--text width-100 justify-content-center" id="posts__load-more" data-turbo-stream="true">
      Load more
    </a>
  <% else %>
    <div class="body-medium text-muted text-align-center padding-x-3 padding-y-2">
      No more content.
    </div>
  <% end %>
<% end %>
