<div class="card card--elevated">
  <div class="top-app-bar">
    <div class="top-app-bar__action">
      <a href="<%= account_dashboard_collections_path(@account) %>" class="button button--icon">
        <span class="material-icons">arrow_back</span>
      </a>
    </div>
    <div class="top-app-bar__title">
      <%= t 'common.new_collection' %>
    </div>
  </div>

  <div class="padding-3">
    <%= render 'form' %>
  </div>
</div>
