<div class="top-app-bar position-sticky top-0 z-index-10">
  <div class="top-app-bar__title display-flex gap-2 align-items-center">
    <a href="<%= account_dashboard_collections_path(@account) %>">
      <%= t 'common.collections' %>
    </a>
    <span class="material-icons">chevron_right</span>
    <%= t 'common.new_collection' %>
  </div>
</div>

<div class="container container--small padding-3">
    <%= render 'form' %>
</div>
