<div class="breadcrumb margin-y">
  <a href="<%= account_root_path(@account) %>" class="breadcrumb__item">
    <div class="avatar avatar--small">
      <%= avatar_image_tag @account.owner.avatar %>
    </div>
    <%= @account.owner.name %>
  </a>
  <a href="<%= account_dashboard_posts_path(@account) %>" class="breadcrumb__item">
    Dashboard
  </a>
  <span class="breadcrumb__item breadcrumb__item--active">
    Settings
  </span>
</div>
