<div class="toolbar">
  <div class="toolbar__title">
    Settings
  </div>
</div>

<div class="container container--medium">
  <div class="list">
    <a href="<%= account_dashboard_settings_profile_path(@account) %>" class="list__item">
      <div class="list__icon">
        <span class="material-icons">account_box</span>
      </div>
      <div class="list__content">
        <div class="text-primary">
          Profile
        </div>
        <div class="text-secondary">
          Avatar, description and other general infomation.
        </div>
      </div>
    </a>
  </div>
</div>
