<div class="max-w-screen-sm mx-auto">
  <div class="card">
    <div class="flex items-center h-14 p-2">
      <div class="text-lg font-medium flex-grow px-2">
        Settings
      </div>
    </div>
    <div class="pb-4">
      <% [
        { icon: :account_circle, label: "Profile", href: settings_profile_path, description: "Update avatar, name, and bio" },
        { icon: :contact_mail, label: "Email", href: settings_email_path, description: "Update your login email" },
        { icon: :lock, label: "Password", href: settings_password_path, description: "Change your login password" },
        { icon: :notifications, label: "Notification", href: settings_notification_path, description: "Manage your notification settings" },
      ].each do |item| %>
        <a href="<%= item[:href] %>" class="flex items-center h-16 gap-4 px-4 interactive-bg-surface-container-lowest">
          <div class="icon w-6 h-6">
            <%= material_icon item[:icon] %>
          </div>
          <div class="flex-grow">
            <div class="font-medium line-clamp-1">
              <%= item[:label] %>
            </div>
            <div class="text-sm font-medium text-on-surface-variant line-clamp-1">
              <%= item[:description] %>
            </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
