<%= render 'account/subheader' %>

<div class="container container--medium">
  <div class="toolbar">
    <div class="toolbar__title">
      Followers
    </div>
  </div>

  <div class="list">
    <%= render partial: 'account/follows/list_item', collection: @accounts, as: :account %>
  </div>

  <%= paginate @accounts %>
</div>
