<% @page_title = @account.display_name %>

<%= render 'account/header' %>

<div class="container container--medium">
  <div class="padding">
    <%= render partial: 'collection', collection: @collections, cached: true %>
  </div>

  <div class="padding">
    <%= paginate @collections %>
  </div>
</div>
