<%= turbo_stream.remove("collections__load-more") %>

<%= turbo_stream.append("collections") do %>
  <%= render partial: 'collection', collection: @paginator[:page].pluck(:data), cached: true %>

  <% if @paginator[:page_info][:has_next_page] %>
    <a href="<%= url_for(after: @paginator[:page_info][:end_cursor]) %>" class="button button--text width-100 justify-content-center" id="collections__load-more" data-turbo-stream="true">
      Load more
    </a>
  <% else %>
    <div class="body-medium text-muted text-align-center padding-x-3 padding-y-2">
      No more content.
    </div>
  <% end %>
<% end %>
