<div class="container container--small">
  <div class="padding">
    <h2 class="headline-4">联系 GeekNote</h2>
    <dl>
      <dt>客服支持</dt>
      <dd>Email: <a href="mailto:support@geeknote.net">support@geeknote.net</a></dd>
    </dl>
  </div>
</div>
