<div class="container container--medium">
  <div class="headline-medium margin-bottom-4">
    Tagged: <%= params[:id] %>
  </div>

  <div class="">
    <%= render partial: 'account/posts/post', collection: @posts, cached: true %>
  </div>

  <%= paginate @posts %>
</div>
