<div class="container container--medium">
  <div class="toolbar">
    <div class="toolbar__title">
      Tagged: <%= params[:id] %>
    </div>
  </div>

  <div class="list">
    <%= render partial: 'account/posts/post', collection: @posts %>
  </div>

  <%= paginate @posts %>
</div>
