<div class="top-app-bar">
  <a href="/" class="icon-button">
    <x-icon>arrow_back</x-icon>
  </a>
  <div class="top-app-bar__headline">
    <%= t ".headline", name: @tag.name %>
  </div>
</div>

<div class="layout-main-sidebar">
  <div class="">
    <%= render "components/scroll_pagination", pagy: @pagy do %>
      <%= render partial: "account/posts/post", collection: @posts, cached: -> post { [ post.account, post.user, post ] } %>
    <% end %>
  </div>

  <div class="hidden md:block">
    <turbo-frame id="home_sidebar" src="/home/sidebar" loading="lazy" target="_top" data-turbo-permanent>
    </turbo-frame>
  </div>
</div>
