<div class="text-lg font-medium">
  #<%= @tag.name %>
</div>

<div class="layout-main-sidebar mt-4">
  <div class="">
    <%= render "components/scroll_pagination", pagy: @pagy, content_class: "space-y-4" do %>
      <%= render partial: "account/posts/post", collection: @posts, cached: -> post { [ post.account, post.user, post ] } %>
    <% end %>
  </div>

  <div class="hidden md:block">
    <turbo-frame id="home_sidebar" src="/home/sidebar" loading="lazy" target="_top" data-turbo-permanent>
    </turbo-frame>
  </div>
</div>
