<div class="container padding-3">
  <div class="layout-primary">
    <div class="">
      <div class="top-app-bar">
        <div class="top-app-bar__title">
          #<%= @tag.name %>
        </div>
      </div>

      <div id="posts" class="display-flex flex-direction-column gap-3" data-controller="pagination">
        <%= render partial: 'account/posts/post', collection: @paginator[:page].pluck(:data), cached: -> post { [post.account, post.user, post] } %>

        <% if @paginator[:page_info][:has_next_page] %>
          <a href="<%= url_for(after: @paginator[:page_info][:end_cursor]) %>" class="button button--text width-100 justify-content-center" data-pagination-target="nextPageLink">
            Load more
          </a>
        <% else %>
          <div class="body-medium text-muted text-align-center padding-x-3 padding-y-2">
            No more content.
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
