<div class="">
  <div class="flex items-center gap-2">
    <a href="/" class="icon-button">
      <x-icon>arrow_back</x-icon>
    </a>
    <div class="text-lg font-medium">
      <%= @tag.name %>
    </div>
  </div>

  <div class="layout-main-sidebar mt-6">
    <div class="">
      <%= render "components/scroll_pagination", pagy: @pagy do %>
        <%= render partial: "account/posts/post", collection: @posts, cached: -> post { [ post.account, post.user, post ] } %>
      <% end %>
    </div>

    <div class="hidden md:block">
      <%= render "home/sidebar" %>
    </div>
  </div>
</div>
