<div class="container">
  <div class="layout-primary padding-3">
    <%= render 'home/navbar' %>

    <div class="">
      <div class="top-app-bar">
        <div class="top-app-bar__title">
          #<%= @tag.name %>
        </div>
      </div>

      <div class="display-flex flex-direction-column gap-3">
        <%= render partial: 'account/posts/post', collection: @posts.preload(:account, :user).to_a, cached: -> post { [post.account, post.user, post] } %>
      </div>

      <div class="padding-3">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
