<div class="container padding-3">
  <div class="layout-primary">
    <%= render 'admin/navbar' %>

    <div class="">
      <div class="card card--elevated background-surface padding-3">
        <h1>Admin::Home#index</h1>
        <p>Find me in app/views/admin/home/index.html.erb</p>
      </div>
    </div>
  </div>
</div>
