<div class="display-flex align-items-center gap-3 padding-y-3 border-bottom position-relative">
  <div class="flex-grow-1">
    <div class="title-medium">
      <a href="<%= edit_admin_organization_path(organization) %>" class="link-title link-expended break-word">
        <%= organization.name %>
      </a>
    </div>
    <div class="text-muted">
      <%= format_time organization.created_at %>
    </div>
  </div>
</div>
