<div class="container container--small">
  <div class="padding">
    <div id="main">
      <h2 class="headline-4"><%= t '.unsubscribe_email' %></h2>
      <%= form_with url: user_email_unsubscribe_path(token: params[:token], type: params[:type]), method: :patch, data: { controller: 'form', action: 'turbo:load@window->form#submit' } do |form| %>
        <%= t '.unsubscribing' %>
      <% end %>
    </div>
  </div>
</div>
