.account-header {
  display: flex;
  padding: 16px;
}

.account-header__avatar {
  z-index: 1;
  margin-right: 16px;
  margin-top: -32px;
  margin-left: -4px;
  padding: 4px;
  background: white;
  border-radius: 50%;
}

.account-header__content {
  flex-grow: 1;

  .toolbar {
    margin-top: 16px;
    margin-right: -4px;
    padding: 0;
  }
}

.account-header__name {
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  margin: 4px 0;
  flex-grow: 1;
}

.account-header__description {
  margin-bottom: 16px;
}
