.avatar {
  line-height: 0;

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.avatar--small {
  img {
    height: 24px;
    width: 24px;
  }
}

.avatar--medium {
  img {
    height: 80px;
    width: 80px;
  }
}

.avatar--large {
  img {
    height: 160px;
    width: 160px;
  }
}

.avatar-uploader {

  input[type="file"] {
    display: none;
  }

  .avatar {
    margin-bottom: 8px;
  }
}

.avatar-uploader__button {
}
