.cm-content {
  padding: 12px;
  outline: none;
  white-space: pre;
  font-family: monospace;
  font-size: 16px;
}

.cm-placeholder {
  color: var(--text-secondary-color);
}

.cmt-meta {
  color: var(--text-secondary-color);
}

.cmt-strong {
  font-weight: bold;

  &.cmt-meta {
    color: var(--text-primary-color);
  }
}

.cmt-heading {
  font-weight: bold;
}

.cmt-emphasis {
  font-style: italic;
}

.cmt-url {
}

.editor-toolbar {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.editor-toolbar__button {
  border: none;
  padding: 6px;
  line-height: 0;
  background: transparent;
  outline: none;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;

  svg {
    height: 24px;
    width: 24px;
    fill: currentColor;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.9);
  }
}

.editor-toolbar__button--disabled {
  color: rgba(0, 0, 0, 0.3);
}
