.editor-toolbar {
  display: flex;
  position: sticky;
  z-index: 1;
  bottom: 16px;
  left: 0;
  right: 0;
  background: #fafafa;
  order: 2;
  border-radius: 4px;
}

.editor-toolbar__button {
  border: none;
  padding: 8px;
  line-height: 0;
  background: transparent;
  outline: none;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;

  svg {
    height: 24px;
    width: 24px;
    fill: currentColor;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.9);
  }
}

.editor-toolbar__button--disabled {
  color: rgba(0, 0, 0, 0.3);
}
