.app-bar--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.app-bar-padding {
  padding-top: 56px;
}

.body-container {
  display: flex;

  .drawer {
    width: 256px;
    z-index: 90;
    flex-shrink: 0;

    @media (max-width: $tablet-break-point) {
      width: 0;
    }
  }

  .drawer__container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

.drawer--modal {
  position: fixed;
}

.content-container {
  padding-top: 56px;
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container--small {
  max-width: 480px;
}

.container--medium {
  max-width: 960px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-grow: 1;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex-grow: 0;
    width: $i / 12 * 100%;
  }
}

@media (max-width: $mobile-break-point) {
  .row {
    display: block;
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      width: 100%;
    }
  }
}

.sheet {
  @media (max-width: $mobile-break-point) {
    .sheet__container {
      margin-right: -320px;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 201;
    }

    &.sheet--open {
      .sheet__container {
        margin-right: 0;
      }

      .sheet__scrim {
        display: block;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 200;
      }
    }
  }
}
