@import 'campo-ui/src/css/campo-ui';
@import 'nav';
@import 'editor';
@import 'codemirror';
@import 'post';
@import 'account';
@import 'clipboard';
@import 'avatar';
@import 'breadcrumb';
@import 'collection';
@import 'comment';

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container--small {
  max-width: 480px;
}

.container--medium {
  max-width: 960px;
}

.app-bar--borderless {
  box-shadow: none;
}

.app-bar {
  z-index: 10;
  padding: 0;
}

.toolbar {
  padding: 4px;
}

.toolbar__text {
  padding: 12px;
  line-height: 24px;
}

.toobar__author {
  padding: 0 12px;
}

.app-content {
  flex-grow: 1;
  overflow: auto;
}

.alert {
  padding: 12px;
  color: #F44336;
  border: 1px solid #F44336;
  border-radius: 4px;
  background: lighten(#F44336, 30%);
  margin-bottom: 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: $i / 12 * 100%;
  }
}

.button--text {
  min-width: 0;
}

.button--text .button__icon {
  &:first-child {
    margin-right: 8px;
  }

  &:last-child {
    margin-left: 8px;
  }
}

.margin-right {
  margin-right: 16px;
}

.margin-left-8 {
  margin-left: 8px;
}

.margin-right-8 {
  margin-right: 8px;
}

.margin-bottom {
  margin-bottom: 16px;
}

.margin-x {
  margin-left: 16px;
  margin-right: 16px;
}

.margin-y {
  margin-top: 16px;
  margin-bottom: 16px;
}

.padding-x {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-top {
  padding-top: 16px;
}

.padding-right {
  padding-right: 16px;
}

.padding-y {
  padding-top: 16px;
  padding-bottom: 16px;
}

.table__cell--title {
  flex-grow: 1;
}

.table__cell--attribute {
  width: 120px;
}

.table--flex td {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table__cell--action {
}

.text-bold {
  font-weight: bold;
}

.text-muted {
  color: var(--text-secondary-color);
}

.sidebar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.dropdown__menu--medium {
  min-width: 360px;
}

.dropdown__menu--paddingless {
  padding: 0;
}

.typography {
  font-size: 18px;

  h1, h2, h3, h4, h5, h6 {
    color: var(--text-primary-color);
    margin: 1em 0;
  }
}

.dialog--full-screen {
  .dialog__container {
    width: 100%;
    height: 100%;
  }
}

.text-field__trailing-icon {
  .button--icon {
    margin: -8px -8px 0 0;
  }
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-align-items-center {
  align-items: center;
}

.table tbody tr:hover {
  background: rgba(0, 0, 0, 0.03);
}

.toolbar__action .button--last {
  margin-right: 8px;
}

.margin-top-0 {
  margin-top: 0;
}

.primary-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary-color);
}

.secondary-text {
  font-size: 14px;
  line-height: 16px;
  color: var(--text-secondary-color);
}

.text-primary {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary-color);
}

.text-secondary {
  font-size: 14px;
  line-height: 16px;
  color: var(--text-secondary-color);
}

.text-small {
  font-size: 14px;
}

.label {
  font-weight: bold;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
  margin: 0 0 8px;
}

dd {
  margin: 0 0 8px;
}

.card {
  margin: 0;
}

.text--failed {
  color: red;
}

.form__field {
  margin-bottom: 16px;
}

.drawer__header {
}

.drawer__body {
  flex-grow: 1
}

.drawer__footer {
}

.dropdown--account {
  display: block;
  margin: 6px;

}

.button__avatar {
  margin-right: 8px;
}

.button--account {
  width: 100%;
  text-align: left;
  padding: 4px 2px;

  .button__avatar {
    margin-right: 6px;
  }

  .button__text {
    flex-grow: 1;
  }
}

.button--text.button--user {
  margin: 0;
  padding: 2px;
  min-width: 0;
  border-radius: 20px;

  .avatar {
    img {
      width: 36px;
      height: 36px;
    }
  }
}

.snackbar-container {
  z-index: 1000;
}

label.list__item {
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.075);
  }
}

.dropdown__item__avatar {
  margin: 0 8px 0 -8px;

}

.icon {
  display: inline-block;
  vertical-align: middle;

  svg {
    height: 16px;
    width: 16px;
    fill: currentColor;
  }
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cover {
  width: 100%;
  padding-top: 25%;
  position: relative;
}

.cover__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
  }
}

.link-text {
  color: var(--text-primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link-text-muted {
  color: var(--text-secondary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link-author {
  display: inline-flex;
  align-items: center;
  color: var(--text-primary-color);
  text-decoration: none;
}

.toolbar--breakout {
  margin: 0 -16px;
}

.display-none {
  display: none;
}

.button--liked {
  color: #F44336;
}

.margin-x-8 {
  margin: 0 8px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-right-8 {
  margin-right: 8px;
}

.list--breakout {
  margin: 0 -16px;
}

.list__action {
  padding: 16px;
}

.list__item {
  .stretched-link:hover::after {
    background: rgba(0, 0, 0, 0.03);
  }
}

.notification-unread {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 6px;
    right: 6px;
    background: var(--primary-color);
  }
}
