@import 'campo-ui/src/css/campo-ui';
@import 'layout';
@import 'typography';
@import 'nav';
@import 'editor';
@import 'codemirror';
@import 'post';
@import 'account';
@import 'clipboard';
@import 'avatar';
@import 'breadcrumb';
@import 'comment';
@import 'material_icons';
@import 'highlight';

body {
  font-family: sans-serif;
}

.app-bar--borderless {
  box-shadow: none;
}

.app-bar {
  padding: 0;
}

.toolbar {
  padding: 4px;
  align-items: center;
}

.toolbar__text {
  padding: 12px;
  line-height: 24px;
}

.toobar__author {
  padding: 0 12px;
}

.app-content {
  position: relative;
}

.alert {
  padding: 12px;
  color: #F44336;
  border: 1px solid #F44336;
  border-radius: 4px;
  background: lighten(#F44336, 30%);
  margin-bottom: 16px;
}

.button--contained {
  min-width: 88px;
}

.button--text {
  color: var(--text-secondary-color);
}

.button--contained,
.button--text {
  .button__icon {
    margin-right: 0;

    &:first-child {
      margin-right: 8px;
    }

    &:last-child {
      margin-left: 8px;
    }

    .material-icons {
      font-size: 18px;
    }
  }
}

.chip {
  text-decoration: none;
  color: var(--text-primary-color);
}

.chip__action .button--icon {
  .material-icons {
    font-size: 18px;
  }
}

.sheet {
  z-index: 110;
}

.margin-0 {
  margin: 0;
}

.margin-right {
  margin-right: 16px;
}

.margin-left-8 {
  margin-left: 8px;
}

.margin-right-8 {
  margin-right: 8px;
}

.margin-top {
  margin-top: 16px;
}

.margin-bottom {
  margin-bottom: 16px;
}

.margin-x {
  margin-left: 16px;
  margin-right: 16px;
}

.margin-y {
  margin-top: 16px;
  margin-bottom: 16px;
}

.padding-x {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-top {
  padding-top: 16px;
}

.padding-right {
  padding-right: 16px;
}

.padding-left {
  padding-left: 16px;
}

.padding-y {
  padding-top: 16px;
  padding-bottom: 16px;
}

.width-100 {
  width: 100%;
}

.table__cell--title {
  flex-grow: 1;
}

.table__cell--attribute {
  width: 120px;
}

.table--flex td {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table__cell--action {
}

.text-bold {
  font-weight: bold;
}

.text-muted {
  color: var(--text-secondary-color);
}

.sidebar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.dropdown__menu--medium {
  width: 360px;
}

.dropdown__menu--paddingless {
  padding: 0;
}

.dropdown__item__icon {
  color: var(--text-secondary-color);

  svg {
    fill: currentColor;
  }
}

.dropdown__item__text {
  text-align: left;
}

.typography {
  font-size: 18px;

  h1, h2, h3, h4, h5, h6 {
    color: var(--text-primary-color);
    margin: 1em 0;
  }
}

.dialog--full-screen {
  .dialog__container {
    width: 100%;
    height: 100%;
  }
}

.text-field__trailing-icon {
  .button--icon {
    margin: -8px -8px 0 0;
  }
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.table tbody tr:hover {
  background: rgba(0, 0, 0, 0.03);
}

.toolbar__action .button--last {
  margin-right: 8px;
}

.margin-top-0 {
  margin-top: 0;
}

.primary-text {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary-color);
}

.secondary-text {
  font-size: 14px;
  line-height: 16px;
  color: var(--text-secondary-color);
}

.text-primary {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary-color);
}

.text-secondary {
  font-size: 14px;
  line-height: 16px;
  color: var(--text-secondary-color);
}

.text-small {
  font-size: 14px;
}

.label {
  font-weight: bold;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
  margin: 0 0 8px;
}

dd {
  margin: 0 0 8px;
}

.card {
  margin: 0;
}

.text--failed {
  color: red;
}

.form__field {
  margin-bottom: 16px;
}

.form__control {
  .radio,
  .check_box {
    flex-shrink: 0;
  }
}

.drawer__header {
}

.drawer__body {
  flex-grow: 1
}

.drawer__footer {
}

.drawer-wrapper__content {
  position: relative;
}

.dropdown--account {
  display: block;
  margin: 6px;

}

.button--text .button__avatar {
  margin: -4px 8px -4px -4px;
}

.snackbar-container {
  z-index: 1000;
}

label.list__item {
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.075);
  }
}

.dropdown__item__avatar {
  margin: 0 8px 0 -8px;

}

.icon {
  display: inline-block;
  vertical-align: middle;

  svg {
    height: 16px;
    width: 16px;
    fill: currentColor;
  }
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  padding-top: 25%;
  position: relative;
}

.banner-image--small {
  padding-top: 100px;
}

.banner-image__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
  }
}

.link-text {
  color: var(--text-primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link-text-muted {
  color: var(--text-secondary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link-author {
  display: inline-flex;
  align-items: center;
  color: var(--text-primary-color);
  text-decoration: none;
}

.toolbar--breakout {
  margin: 0 -16px;
}

.display-none {
  display: none;
}

.button--text.button--liked {
  color: #F44336;

  svg {
    fill: currentColor;
  }
}

.margin-x-8 {
  margin: 0 8px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-right-8 {
  margin-right: 8px;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.list--breakout {
  margin: 0 -16px;
}

.list__action {
  padding: 16px;
}

.list__item__thumb {
  width: 160px;
}

.notification-unread {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 6px;
    right: 6px;
    background: var(--primary-color);
  }
}

.display-on-sheet {
  display: none;
}

.sheet .display-on-sheet {
  display: flex;
}

.tab__item {
  font-weight: bold;
  opacity: 0.5;
  min-width: 90px;

  &:hover {
    opacity: 1;
    background: none;
  }
}

.tab__item--active {
  opacity: 1;
}

.button--icon.button--avatar {
  padding: 2px;

  .avatar img {
    height: 36px;
    width: 36px;
  }
}

.stretched-link::after {
  cursor: pointer;
}

.display-inline-block {
  display: inline-block;
}

.image-uploader {
  position: relative;

}

.image-uploader__preview {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
  }
}

.image-uploader__toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-uploader__toolbar__action {
  padding: 4px;
}

.image-uploader__input {
  display: none;
}

.banner-image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
}

.featured-image-placeholder {
  width: 100%;
  padding-bottom: 50%;
  background: rgba(0, 0, 0, 0.1);
}

.selector {
  &::after {
    content: "";
    border: 1px solid var(--text-secondary-color);
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
}

.selector__menu {
  padding: 8px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.pagination {
  padding: 4px;
  justify-content: center;
}

.pagination .button--active {
  color: var(--text-secondary-color);
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px white;
}

@media (max-width: $mobile-break-point) {
  .hide-on-mobile {
    display: none;
  }
}

.text-color-red {
  color: #F44336;
}
