@layer components {
  .fab {
    width: 56px;
    height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
    border-radius: 12px;
    transition: box-shadow 0.2s;

    @apply interactive;
  }

  .fab--extended {
    width: auto;
    padding: 0 16px;
    justify-content: start;
    gap: 16px;
    font-size: 14px;
    font-weight: 500;
  }
}
