@layer components {
  .form-field {
    margin-top: 16px;

    &:first-of-type {
      margin-top: 0px;
    }
  }

  .form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-on-surface-variant);
  }

  .form-text {
    margin-top: 8px;
    font-size: 14px;
    color: var(--color-on-surface-variant);
  }
}
