@layer components {
  .tab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0 16px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-on-surface-variant);

    @apply interactive;
  }

  .tab--active {
    x-icon {
      font-variation-settings: 'FILL' 1;
    }
  }

  .tab--primary {
    border-radius: 9999px;
  }

  .tab--primary.tab--active {
    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
  }
}
