@layer components {
  .top-app-bar {
    display: flex;
    height: 56px;
    align-items: center;
    padding: 0 8px;
    gap: 8px;
  }

  .top-app-bar__headline {
    font-size: 22px;
    font-weight: 400;
    padding: 0 8px;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
