<div class="sidebar display-flex flex-direction-column gap-3">
  <div class="card card--surface padding-2">
    <div class="title-medium padding-2">
      Tags
    </div>
    <div class="nav">
      <% @account.used_tags.first(10).each do |name, count| %>
        <a href="<%= tag_path(id: name) %>" class="nav__item">
          <div class="nav__item__icon">
            <span class="material-icons">tag</span>
          </div>
          <div class="nav__item__label">
            <%= name %>
          </div>
        </a>
      <% end %>
    </div>
  </div>
</div>
