<div class="top-app-bar">
  <a href="<%= account_comment_path(@account.name, @comment) %>" class="icon-button">
    <x-icon>arrow_back</x-icon>
  </a>
  <div class="top-app-bar__headline">
    <%= t "general.edit_comment" %>
  </div>
</div>

<div class="layout-main-sidebar">
  <div>
    <div class="card">
      <%= render "form", comment: @comment, open: true %>
    </div>
  </div>
</div>
