<div class="layout-main-sidebar">
  <div>
    <div class="card card-border border-base-300 bg-base-100">
      <div class="card-body">
        <div class="card-title">
          <%= t "general.edit_comment" %>
        </div>

        <%= render "form", comment: @comment, open: true %>
      </div>
    </div>
  </div>
</div>
