<%= form_with model: @post, url: account_dashboard_post_featured_image_path(@account, @post), id: 'post-featured-image-form', data: { controller: 'form' }, method: (@post.featured_image.attached? ? 'delete' : 'patch')  do |form| %>
  <div class="post-featured-image-uploader">
    <% if @post.featured_image.attached? %>
      <%= image_tag @post.featured_image %>
      <button type="submit" class="button button--icon post-featured-image-uploader__delete-button">
        <span class="material-icons">delete</span>
      </button>
    <% else %>
      <%= form.file_field :featured_image, direct_upload: true, data: { action: 'change->form#submit' } %>
      <label for="post_featured_image" class="button button--contained">
        Upload featured image
      </label>
    <% end %>
  </div>
<% end %>
