<%= form_with model: @post, url: space_dashboard_post_featured_image_path(@space, @post), id: 'post-featured-image-form', data: { controller: 'form' }, method: (@post.featured_image.attached? ? 'delete' : 'patch')  do |form| %>
  <div class="post-featured-image-uploader">
    <% if @post.featured_image.attached? %>
      <%= image_tag @post.featured_image %>
      <button type="submit" class="button button--icon post-featured-image-uploader__delete-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"/></svg>
      </button>
    <% else %>
      <%= form.file_field :featured_image, direct_upload: true, data: { action: 'change->form#submit' } %>
      <label for="post_featured_image" class="button button--contained">
        Upload featured image
      </label>
    <% end %>
  </div>
<% end %>
