.account-header {
  display: flex;
  padding: 16px;

}

.account-header__avatar {
  z-index: 1;
  flex-shrink: 0;

  .avatar {
    margin: -32px 16px 0 -4px;
    padding: 4px;
    background: white;
    border-radius: 50%;
  }

  .avatar img {
    width: 160px;
    height: 160px;
  }
}

@media (max-width: $mobile-break-point) {
  .account-header {
    flex-direction: column;
  }

  .account-header__avatar {
    display: flex;
    justify-content: center;

    .avatar {
      margin: -64px 0 0 0;
    }

    .avatar img {
      width: 80px;
      height: 80px;
    }
  }
}

.account-header__content {
  flex-grow: 1;

  .toolbar {
    margin-top: 16px;
    margin-right: -4px;
    padding: 0;
  }
}

.account-header__name {
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  margin: 4px 0;
  flex-grow: 1;
}

.account-header__description {
  margin-bottom: 16px;
}
