.avatar {
  line-height: 0;
  border-radius: 50%;

  img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
  }
}

.avatar--small {
  img {
    height: 24px;
    width: 24px;
  }
}

.avatar--medium {
  img {
    height: 96px;
    width: 96px;
  }
}

.avatar--large {
  img {
    height: 192px;
    width: 192px;
  }
}

.button--icon.button--avatar {
  padding: 4px;

  .avatar img {
    height: 32px;
    width: 32px;
  }
}

.avatar-group {
  display: flex;

  .avatar {
    border: 2px solid white;
  }

  .avatar:not(:first-child) {
    margin-left: -8px;
  }
}
