.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumb__item {
  display: inline-flex;
  align-items: center;

  a {
    text-decoration: none;
  }

  &:not(:last-child)::after {
    content: '/';
    padding: 0 var(--space-2);
  }
}

.breadcrumb__item--active {
  color: var(--color-on-surface-variant);
}
