.button--icon {
  color: var(--color-on-surface-variant);
  line-height: 0;
}

.button--muted {
  color: var(--color-on-surface-variant);
}

.button--like {
  color: var(--color-on-surface-variant);
}

.button--danger {
  color: var(--color-error);
}

.button--like.button--active {
  color: #f44336;
}

.button__show-on-active {
  display: none;
}

.button__hdie-on-active {
  display: inherit;
}

.button--active {
  .button__show-on-active {
    display: inherit;
  }

  .button__hide-on-active {
    display: none;
  }
}

.button-group {
  display: inline-flex;
  align-items: center;
}
