.clipboard {
  display: flex;

  input {
    line-height: 16px;
    padding: 9px 15px;
    outline: 0;
    border: 1px solid var(--color-outline);
    border-right: 0;
    margin: 0;
    border-radius:  4px 0 0 4px;
    width: 320px;

    &:focus {
      border-color: var(--color-primary);
    }
  }

  .button {
    margin: 0;
    border-radius:  0 4px 4px 0;
  }
}

.toolbar__action .clipboard {
  margin: 2px;
}
