.comment-form {
  .markdown-editor {
    box-shadow: 0 0 0 1px var(--color-outline);
    border-radius: 4px;
  }

  .markdown-editor--focus {
    box-shadow: 0 0 0 2px var(--color-primary);
  }

  .markdown-editor__toolbar {
    border-radius: 4px 4px 0 0;
  }
}

.comment-form + .comment__content {
  display: none;
}

.comment__hide-replies-button {
  display: none;
}

.comment--show-replies > .comment__content {
  .comment__hide-replies-button {
    display: inline-flex;
  }

  .comment__show-replies-button {
    display: none;;
  }
}

.comment__continute-button {
  display: none;
}

.comment .comment .comment {
  .comment__reply-button,
  .comment__show-replies-button,
  .comment__hide-replies-button {
    display: none;
  }

  .comment__continute-button {
    display: inline-flex;
  }
}

.comment__replies {
  padding-left: 48px;
  position: relative;
}

.comment__border-link {
  display: block;
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  width: 12px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  background-color: var(--color-outline);
  background-clip: padding-box;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.comment-form-toggle {
  display: block;
  padding: 16px 0;
  cursor: text;
  text-decoration: none;

  &:not(:last-child) {
    display: none;
  }
}
