.image-uploader {
  position: relative;
  min-height: 80px;
  background-color: var(--color-surface-variant);
  overflow: hidden;
  border-radius: var(--space-1);

  input {
    display: none;
  }

  img {
    display: block;
    height: auto;
  }
}

.image-uploader__preview {
}

.image-uploader__toolbar {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  .button--icon {
    background: var(--color-surface-variant);
    color: var(--color-on-surface-variant);
  }
}

.image-uploader__show-on-active {
  display: none;
}

.image-uploader__hide-on-active {
  display: inherit;
}

.image-uploader--active {
  .image-uploader__show-on-active {
    display: inherit;
  }

  .image-uploader__hide-on-active {
    display: none;
  }
}
