.image-uploader {
  position: relative;
  min-height: 80px;
  overflow: hidden;
  border-radius: var(--space-1);

  // border
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    border: 1px dashed var(--color-outline);
  }

  input {
    display: none;
  }

  img {
    display: block;
    height: auto;
  }
}

.image-uploader__preview {
}

.image-uploader__toolbar {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.image-uploader__show-on-active {
  display: none;
}

.image-uploader__hide-on-active {
  display: inherit;
}

.image-uploader--active {
  &::before {
    border: none;
  }

  .image-uploader__show-on-active {
    display: inherit;
  }

  .image-uploader__hide-on-active {
    display: none;
  }

  .button--icon {
    background: var(--color-surface-variant);
    color: var(--color-on-surface-variant);
  }
}

.image-uploader--banner-image.image-uploader--active {
  width: 100%;
  padding-bottom: 40%;

  .image-uploader__preview {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.image-uploader--avatar {
  display: inline-block;

  .image-uploader__preview {
    height: 120px;
    width: 120px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.image-uploader--icon {
  display: inline-block;

  .image-uploader__preview {
    height: 128px;
    width: 128px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.image-uploader--logo {
  display: inline-block;

  .image-uploader__preview {
    height: 128px;
    min-width: 256px;

    img {
      height: 100%;
      width: auto;
    }
  }
}

.image-uploader--featured-image {
  min-height: 0;
  overflow: initial;

  &::before {
    border: none;
  }

  .image-uploader__preview {
    img {
      border-radius: 12px;
    }
  }

  .image-uploader__toolbar {
    top: 16px;
    right: 16px;
    left: auto;
    bottom: auto;
  }
}
