.markdown-editor {
  z-index: 0;
  position: relative;
  min-height: 240px;
  display: flex;
  flex-direction: column;

  // outline
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid var(--color-outline);
    border-radius: var(--space-1);
    z-index: 1;
    pointer-events: none;
  }
}

.markdown-editor__toolbar {
  display: flex;
  border-radius: var(--space-1) var(--space-1) 0 0;
  background: var(--color-surface-variant);
  padding: var(--space-1);
  gap: var(--space-1);
  position: sticky;
  top: 0;
  z-index: 1;
  flex-shrink: 0;
  overflow-x: auto;

  .button--text {
    padding: 8px;
    color: var(--color-on-surface-variant);
    border-radius: var(--space-1);
    flex-shrink: 0;
  }

  .button__icon {
    width: 24px;
    height: 24px;

    .material-icons {
      font-size: 24px;
    }
  }

  .button--icon {
    border-radius: var(--space-1);
    color: var(--color-on-surface-variant);
    flex-shrink: 0;
  }

  .button--active {
    color: var(--color-primary);
  }

  .markdown-editor__write-button {
    color: var(--color-primary);
  }
}

.markdown-editor__content {
  padding: 12px 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .cm-editor {
    flex-grow: 1;
  }

  .cm-scroller {
    align-items: stretch;
    flex-grow: 1;
  }
}

.markdown-editor__preview {
  display: none;
  padding: 12px 16px;
  flex-grow: 1;
}

.markdown-editor--previewing {
  .markdown-editor__content {
    display: none;
  }

  .markdown-editor__preview {
    display: block;
  }

  .markdown-editor__write-button {
    color: inherit;
  }

  .markdown-editor__preview-button {
    color: var(--color-primary);
  }

  .markdown-editor__toolbar .button--icon {
    color: var(--color-on-disabled);
    pointer-events: none;
  }
}

.markdown-editor--focus {
  &::after {
    border: 2px solid var(--color-primary);
  }
}
