.nav {
}

.nav__item {
  padding: 10px;
  margin: 6px;
  border: none;
  background: transparent;
  display: flex;
  text-decoration: none;
  align-items: center;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  color: var(--text-secondary-color);
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;

  svg {
    fill: var(--text-secondary-color);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary-color);
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover {
    &::after {
      opacity: 0.1;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }

  &.nav__item--active {
    color: var(--primary-color);

    svg {
      fill: var(--primary-color);
    }

    &::after {
      opacity: 0.3;
    }
  }
}

.nav__item__text {
  flex-grow: 1;
}

.nav__item__icon {
  height: 24px;
  width: 24px;
  margin: -2px 0 -2px 0;

  &:first-child {
    margin-right: 24px;
  }

  &:last-child {
    margin-left: 16px;
  }
}
