.container--post {
  max-width: 768px;
  margin: 0 auto;
}

.post {
  margin-top: 32px;
  padding: 16px;
}

.post__title {
  font-size: 40px;
  line-height: 1.7;
  font-weight: 500;
  margin: 0 0 16px;
  padding: 0;
  letter-spacing: -1.5px;
}

.post-preview-iframe {
  height: 100%;
  width: 100%;
  border: none;
}

.post-editor {
  .cm-editor {
    flex-grow: 1;
  }

  .cm-scroller {
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
  }

  .cm-content {
    min-height: 640px;
    padding-bottom: 120px;
  }
}

.flex-full-height {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.post-editor__save-status {
  font-weight: normal;
  color: var(--text-secondary-color);
  font-size: 14px;
  margin-left: 8px;
}

.post-editor__container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.post-editor__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.post-editor__title {
  width: 100%;
  font-size: 40px;
  line-height: 1.7;
  font-weight: 500;
  border: none;
  outline: 0;
  margin: 80px 0 16px;
  padding: 0;
  resize: none;
  font-family: var(--font-family);
  letter-spacing: -1.5px;
}

.post-editor__content-editor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.post-editor__toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.post-editor__toolbar-container {
  padding: 0 4px;
  margin: 0 auto;
  max-width: 768px;
}

.post-editor__appbar,
.post-editor__toolbar {
  transition: opacity 0.3s;
}

.post-featured-image-uploader {
  background: rgba(0, 0, 0, 0.05);
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 16px;
  border-radius: 4px;
  overflow: hidden;

  input[type="file"] {
    display: none;
  }

  image {
    max-width: 100%;
  }
}

.post-featured-image-uploader__delete-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.posts {
  margin: 8px 0;
}

.posts__item {
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
}

.posts__item:hover {
  background: rgba(0, 0, 0, 0.03);
}

.posts__item__content {
  flex-grow: 1;
}

.posts__item__toolbar {
  margin: -8px -16px;
}

.posts__item__feature-image {
  margin-left: 16px;
  width: 200px;
  height: 130px;
  flex-shrink: 0;

  img {
    width: 200px;
    height: 130px;
  }
}

.material-icons.featured-post__icon {
  font-size: 16px;
  color: var(--text-secondary-color);
  margin-left: 8px;
  display: none;
}

.posts--profile .featured-post__icon {
  display: block;
}

.post-status {
  display: inline-block;
  padding: 0 8px;
  font-size: 14px;
  line-height: 24px;
  color: white;
  background: #aaa;
  border-radius: 12px;
}

.post-status--published {
  background: #4caf50;
}

.post-status--trashed {
  background: #f44336;
}
