.post-form {
  height: 100vh;

  .markdown-editor {
    min-height: 100vh;
    padding-bottom: 76px;
  }

  .markdown-editor__toolbar {
    margin: 0 -8px;
  }
}

.post-form__title {
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  resize: none;
  overflow: hidden;
  font-family: sans-serif;
  background: transparent;
  color: var(--color-on-surface)
}

.post-status {
  display: inline-block;
  padding: 0 8px;
  font-size: 14px;
  line-height: 24px;
  border-radius: 12px;
  background: var(--color-surface-variant);
  color: var(--color-on-surface-variant);
}

.post-status--published {
  background: var(--color-primary-container);
  color: var(--color-on-primary-container);
}

.post-status--trashed {
  background: var(--color-tertiary);
  color: var(--color-on-tertiary);
}

.post-card__feature-image {
  img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 12px;
  }
}

.post-layout {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 280px;
  position: relative;
}

.post-toolbar {
  position: absolute;
  top: 0;
  left: -56px;
  height: 100%;
}

.post-toolbar__content {
  position: sticky;
  top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-sidebar {
  position: sticky;
  top: var(--space-3);
  max-height: calc(100vh - var(--space-3) * 2);
}

.post__feature-image {
  img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
  }
}
