.sheet--toc {
  .sheet__container {
    padding: 16px;
  }
}

@media (min-width: map.get($breakpoints, "laptop")) {
  .sheet--toc {
    display: contents;

    .sheet__container {
      position: static !important;
      width: auto !important;
      border-radius: 12px !important;
      box-shadow: var(--shadow-1);
      overflow: auto;
    }
  }
}
