.tab {
  overflow: auto;
}

.tab--secondary {
  gap: 0;

  .tab__item {
    height: 40px;
    border-radius: 0;
    background: transparent;
    opacity: 0.7;

    &::after {
      display: none;
    }

    &:hover {
      opacity: 1;
    }
  }

  .tab__item--active {
    background: transparent;
    opacity: 1;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-bottom: 2px solid var(--color-primary);
    }
  }
}
