$material-icons-font-path: '';
@import 'material-icons/iconfont/material-icons.scss';

@import "@chloerei/material-ui/src/css/material-ui";
@import 'avatar';
@import 'codemirror';
@import 'revision';
@import 'clipboard';
@import 'breadcrumb';
@import 'highlight';
@import 'diff';
@import 'typography';

:root {
  @include color-scheme(
    $neutral: #fff
  );

  --color-outline: #ccc;

  --space-4: 32px;
  --space-5: 64px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.container--medium {
  max-width: 960px;
}

.container--micro {
  max-width: 360px;
}

.container--small {
  max-width: 480px;
}

.container--post {
  max-width: 800px;
}

.sidebar {
  width: 320px;
  flex-shrink: 0;
}

.tab__item {
  padding: 10px 24px;
}

.text-muted {
  color: #777;
}

.post-item__featured_image {
  height: 128px;
  width: 128px;
}

.link-text {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link-title {
  color: inherit;
  text-decoration: none;
}

.link-expended {
  &::after {
    content: '';
    position: absolute;
    inset: 0;
  }
}

.card--post {
  position: relative;

  &:hover::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: blue;
    opacity: 0.05;
    border-radius: var(--space-3);
    z-index: -1;
  }
}

.chip {
  text-decoration: none;
}

.body-medium {
  font-weight: normal;
}

.post__feature-image {
  img {
    max-width: 100%;
    height: auto;
  }
}

.button--icon {
  color: var(--color-on-surface-variant);
}

.button--liked {
  color: #f44336;
}
