@import "tailwindcss" source(none);
@plugin "@tailwindcss/typography";

@source "../stylesheets";
@source "../../javascripts";
@source "../../views";

@import "./color.css";
@import "./codemirror.css";
@import "./highlight.css";
@import "./icon.css";
@import "./tom_select.css";
@import "./components/all.css";

@theme {
}

@layer base {
  html {
    background-color: var(--color-surface-container-low);
    color: var(--color-on-surface);
  }
}

@layer components {
  .layout-main-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 360px;
    }
  }
}

@layer utilities {
  .search-result {
    em {
      font-weight: 500;
      color: var(--color-primary);
    }
  }

  .pb-safe {
    box-sizing: content-box;
    padding-bottom: env(safe-area-inset-bottom);
  }

  .prose {
    iframe {
      width: 100%;
      aspect-ratio: 16 / 9;
    }
  }
}

@utility interactive {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: currentColor;
    border-radius: inherit;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover::before {
    opacity: 0.08;
  }

  &:active::before {
    opacity: 0.1;
  }
}
