@import "tailwindcss" source(none);

@source "../stylesheets";
@source "../../javascripts";
@source "../../views";

@import "./codemirror.css";
@import "./highlight.css";
@import "./icon.css";
@import "./tom_select.css";
/* @import "./components/all.css"; */

@layer base {
}

@layer components {
}

@layer utilities {
  .search-result {
    em {
      font-weight: 500;
      color: var(--color-primary);
    }
  }

  .pb-safe {
    box-sizing: content-box;
    padding-bottom: env(safe-area-inset-bottom);
  }

  .prose {
    iframe {
      @apply w-full aspect-video;
    }
  }
}
