$material-icons-font-path: '';
@import 'material-icons/iconfont/material-icons.scss';

.material-icons {
  font-family: "Material Icons Outlined";
}

@import "@chloerei/material-ui/src/css/material-ui";
@import 'avatar';
@import 'codemirror';
@import 'revision';
@import 'clipboard';
@import 'breadcrumb';
@import 'highlight';
@import 'diff';
@import 'typography';

@import 'post';

:root {
  --space-4: 32px;
  --space-5: 64px;

  --font-family-monospace: Menlo, Consolas, "Liberation Mono", Courier, "Microsoft YaHei", monospace;
}

@mixin custom-light-scheme {
  @include light-scheme (
    $primary: #543A93,
    $secondary: #4F485E,
    $tertiary: #69404D,
    $neutral: #FFFFFF,
    $neutral-variant: #FFFFFF,
    $error: #DB3229
  );

  --color-background: #f1f1f1;
  --color-surface: #ffffff;
  --color-outline: #ccc;
}

@mixin custom-dark-scheme {
  @include dark-scheme (
    $primary: #543A93,
    $secondary: #4F485E,
    $tertiary: #69404D,
    $neutral: #FFFFFF,
    $neutral-variant: #FFFFFF,
    $error: #DB3229
  );

  --color-outline: #555;
}

@media (prefers-color-scheme: light) {
  body {
    @include custom-light-scheme;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    @include custom-dark-scheme;
  }
}

body[data-color-scheme="light"] {
  color-scheme: light;
  @include custom-light-scheme;
}

body[data-color-scheme="dark"] {
  color-scheme: dark;
  @include custom-dark-scheme;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container--medium {
  max-width: 960px;
}

.container--micro {
  max-width: 360px;
}

.container--small {
  max-width: 480px;
}

.container--post {
  max-width: 800px;
}

.layout {
  display: grid;
  grid-template-columns: 240px auto 320px;
  grid-template-areas:
    "navbar main sidebar";
  padding: 16px;
  gap: 16px;
}

.navbar {
  grid-area: navbar;

}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.feature-image {
  margin: auto -16px;

  img {
    width: 100%;
    height: auto;
  }
}

.card--filled {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

.material-icons--inline {

}

.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav__item {
  padding: 8px 16px;
  display: flex;
  gap: 8px;
  text-decoration: none;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  border-radius: 28px;
  position: relative;
  overflow: hidden;
  color: var(--color-on-surface-variant);
  outline: none;
  background-color: var(--color-surface);
  cursor: pointer;

  @include state-layer();
}

.nav__item__icon {
  width: 24px;
  height: 24px;
}

.nav__item--active {
  color: var(--color-on-primary-container);
  background-color: var(--color-primary-container);
}

.tab__item {
  padding: 10px 24px;
}

.text-muted {
  color: var(--color-on-surface-variant);
}

.post-item__featured_image {
  height: 128px;
  width: 128px;
}

.link-text {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link-title {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--color-primary);
  }
}

.link-block {
  display: block;
  color: inherit;
  text-decoration: none;

  &:hover {
    background: var(--color-surface-variant);
    color: var(--color-on-surface-variant);
  }
}

.link-expended {
  &::after {
    content: '';
    position: absolute;
    inset: 0;
  }
}

.card--post {
  position: relative;

  &:hover::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: blue;
    opacity: 0.05;
    border-radius: var(--space-3);
    z-index: -1;
  }
}

.chip {
  text-decoration: none;
}

.body-medium {
  font-weight: normal;
}

.button--icon {
  color: var(--color-on-surface-variant);
}

.button--muted {
  color: var(--color-on-surface-variant);
}

.button--liked {
  color: #f44336;
}

.banner-image {
  width: 100%;
  padding-bottom: 40%;
  position: relative;
}

.banner-image__inner {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 16px 16px 0 0;
  background-color: var(--color-primary);
}

.profile-card {
}

.profile-card__avatar {
  display: flex;
  justify-content: center;

  .avatar {
    margin-top: -40px;
    border: 4px solid var(--color-surface);
    z-index: 1;
  }
}

.dialog--full-screen {
  .dialog__container {
    width: 100%;
    height: 100%;
    max-width: none;
  }
}

.z-index-10 {
  z-index: 10;
}

.image-uploader {
  position: relative;
}

.image-uploader__preview {
  img {
    opacity: 0.7;
  }
}

.image-uploader__toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-uploader__toolbar__action {
  padding: 4px;
}

.image-uploader__input {
  display: none;
}

.featured-image-placeholder {
  width: 100%;
  height: 100%;
  min-height: 100px;
  background: var(--color-surface-variant);
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.dragging {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px dashed var(--color-outline);
    background: rgba(255, 255, 255, 0.3)
  }
}

.collection-images {
  display: flex;
  z-index: 0;
}

.collection-images__item {
  height: 160px;
  width: 160px;
  background: white;
  box-sizing: content-box;

  &:nth-child(1) {
    z-index: 3;
    border-right: 4px solid white;
  }

  &:nth-child(2) {
    margin-left: -80px;
    z-index: 2;
    border-right: 4px solid white;
  }

  &:nth-child(3) {
    margin-left: -120px;
    z-index: 1;
  }
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.divider {
  margin: var(--space-1) 0;
  border: none;
  border-bottom: 1px solid var(--color-outline);
}

.pagination {
  padding: var(--space-3);
  display: flex;
  justify-content: center;
  gap: var(--space-1);
}

.pagination__number {
  min-width: 24px;
  font-size: 16px;
  line-height: 24px;
}

.break-word {
  word-break: break-word;
}

.line-height-0 {
  line-height: 0;
}

.dialog__container {
  min-width: 360px;
}

.label-state {
  cursor: pointer;
  @include state-layer;
}

.comment {
  .typography {
    font-size: 16px;
  }
}

.comments .comment:not(:last-child) {
  border-bottom: 1px solid var(--color-outline);
}

.comment-replies .comment__reply-to {
  display: none;
}

.comment__actions {
  margin: -8px;
}

.material-icons--inline {
  font-size: inherit;
}

.featured-image-thumb {
  img {
    display: block;
    width: 128px;
    height: 128px;
    border-radius: 12px;
  }

}

.featured-image-thumb__placeholder {
  background: var(--color-surface-variant);
  width: 128px;
  height: 128px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  .material-icons {
    color: var(--color-on-surface-variant);
    font-size: 32px;
  }
}

.post-card__header {
  min-height: 88px;
}

.chip {
  box-shadow: none;
  border-radius: 16px;
  background-color: var(--color-surface-variant);
  color: var(--color-on-surface-variant);
}
