@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ts-wrapper {
  @apply relative;

  .ts-control {
    @apply textarea flex flex-wrap gap-2 h-auto min-h-0 w-full;
  }

  .item {
    @apply h-8 outline-1 rounded-sm flex items-center gap-2 px-2;

    outline-color: var(--input-color);
  }

  .remove {
    @apply size-6 -mx-1 flex items-center justify-center rounded-full hover:bg-gray-200;
  }

  input {
    @apply h-8 flex-1 min-w-[7rem] outline-none;
  }

  .ts-dropdown {
  }

  .ts-dropdown-content {
    @apply absolute bg-base-100 rounded-box shadow-sm z-1 w-full p-2;
  }

  .create {
    @apply p-2 rounded-sm cursor-pointer;

    &.active {
      @apply bg-base-300;
    }
  }

  .option {
    @apply p-2 rounded-sm cursor-pointer;

    &.active {
      @apply bg-base-300;
    }

    .highlight {
      @apply font-bold;
    }
  }

  .no-results {
    @apply opacity-80 text-sm p-2;
  }

  .ts-dropdown-content {
    @apply overflow-auto max-h-40;
  }
}

.ts-hidden-accessible {
  @apply hidden;
}
