<%= turbo_stream.replace 'appbar' do %>
  <%= render partial: 'space/dashboard/posts/appbar' %>
<% end %>

<%= turbo_stream.update 'snackbar-container' do %>
  <div class="snackbar" data-controller="snackbar" data-snackbar-period="5000">
    <% if @post.published? %>
      Post is published.
      <a href="#" class="button button--text button--secondary">VIEW</a>
    <% else %>
      Post is back to draft.
    <% end %>
  </div>
<% end %>
