<div class="container container--medium">
  <div class="padding">
    <div class="breadcrumb">
      <a href="<%= organizations_path %>" class="breadcrumb__item">Organizations</a>
      <span class="breadcrumb__item--active">New</span>
    </div>
  </div>
</div>
<div class="container container--small">
  <div class="padding">
    <%= render 'form' %>
  </div>
</div>
