<div class="container container--small padding-3">
  <div class="card card--elevated background-surface padding-3">
    <h2 class="headline-medium margin-top-0 margin-bottom-3">
      <%= t '.token_expired' %>
    </h2>
    <p>
      <%= t '.you_can_unsubscribe_email_in_notification_settings' %>
    </p>
    <a href="<%= settings_notification_path %>" class="button button--outlined">
      <div class="button__text">
        <%= t 'general.notification_settings' %>
      </div>
      <div class="button__icon">
        <span class="material-icons">arrow_forward</span>
      </div>
    </a>
  </div>
</div>
