<div class="display-flex align-items-center gap-3 padding-y-3 border-bottom position-relative">
  <div class="flex-grow-1">
    <div class="title-medium">
      <a href="<%= edit_admin_user_path(user) %>" class="link-title link-expended break-word">
        <%= user.name %>
      </a>
    </div>
    <div class="text-muted">
      <%= user.email %>
      &centerdot;
      <%= format_time user.created_at %>
    </div>
  </div>
</div>
