<%= turbo_stream.replace 'preview-dialog' do %>
  <div id="preview-dialog" class="dialog dialog--open dialog--full-screen" data-controller="dialog">
    <div class="dialog__container">
      <div class="toolbar border-bottom">
        <div class="toolbar__title">
          Preview
        </div>
        <div class="toolbar__action">
          <button type="button" class="button button--icon" data-action="dialog#close">
            <span class="material-icons">close</span>
          </button>
        </div>
      </div>
      <div class="flex-grow-1">
        <iframe src="<%= account_post_preview_path(@account, @post, token: @post.preview_token) %>" class="post-preview-iframe">
        </iframe>
      </div>
      <div class="toolbar border-top flex-justify-content-center">
        <div class="toolbar__text">
          Share link
        </div>
        <div class="toolbar__action">
          <div class="clipboard" data-controller="clipboard">
            <input type="text" value="<%= account_post_preview_url(@account, @post, token: @post.preview_token) %>" data-clipboard-target="source">
            <button type="button" class="button button--contained button--primary" data-action="clipboard#copy">
              Copy
            </button>
          </div>
        </div>
        <div class="toolbar__action">
          <a href="<%= account_post_preview_path(@account, @post, token: @post.preview_token) %>" class="button button--icon" target="_blank">
            <span class="material-icons">open_in_new</span>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
