  <%= turbo_stream.update 'snackbar-container' do %>
    <div class="snackbar" data-controller="snackbar" data-snackbar-period="5000">
      <%= t "flash.post_is_saved" %>

      <% if @post.published? %>
        <a href="<%= account_post_path(@account, @post) %>" class="button button--text">
          <%= t "common.view" %>
        </a>
      <% end %>
    </div>
  <% end %>
