<%= form_with model: @user, url: settings_email_path, builder: CustomFormBuilder, class: 'form', id: 'account-form', data: { controller: 'form' } do |form| %>
  <div class="margin-bottom-3">
    <%= form.text_field :email %>
  </div>
  <div class="margin-bottom-3">
    <%= form.password_field :current_password %>
  </div>
  <button type="submit" class="button button--filled">
    <%= t 'common.save_changes' %>
  </button>
<% end %>
