<div class="container container--small">
  <div class="padding">
    <div class="card card--outlined">
      <div class="padding">
        <div class="flex flex-direction-column flex-align-items-center margin-bottom">
          <div>
            <b>@<%= @account.name %></b>
          </div>
        </div>
        <hr class="divider">
        <p>
          Invitation does not exists or has expired. please contact your organization's admin to resend an invitation.
        </p>
      </div>
    </div>
  </div>
</div>
