<%= render 'account/header' %>

<div class="container container--medium">
  <div class="posts">
    <%= render partial: 'account/posts/post', collection: @posts, cached: -> (post) { [post, post.saved] } %>

    <%= paginate @posts %>
  </div>
</div>
