<div id="main">
  <h2 class="headline-medium margin-top-0 margin-bottom-3">
    <%= t '.your_email_has_been_verified' %>
  </h2>
  <a href="<%= root_path %>" class="button button--outlined">
    <div class="button__label">
      <%= t '.back_to_homepage' %>
    </div>
    <div class="button__icon">
      <span class="material-icons">arrow_forward</span>
    </div>
  </a>
</div>
