<div class="container mx-auto">
  <div class="max-w-screen-sm mx-auto">
    <div class="card card-default">
      <div class="p-4">
        <%= form_with url: identity_email_verification_path(token: params[:token]), method: :patch, id: "verification-form" do |form| %>
          <%= t '.verifying' %>
        <% end %>
        <script>
          document.getElementById("verification-form").submit()
        </script>
      </div>
    </div>
  </div>
</div>
