<div class="container container--medium padding">
  <div class="row">
    <div class="col-3">
      <%= render 'settings/nav' %>
    </div>
    <div class="col-9">
      <div class="padding">
        <h3 class="margin-top-0">Profile</h3>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
