<% content_for :body do %>
  <div class="flex container mx-auto">
    <%= render "layouts/admin/navigation" %>

    <div class="flex-grow min-w-0">
      <div class="px-4 md:px-6">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
