<% content_for :content do %>
  <div class="drawer lg:drawer-open">
    <input type="checkbox" class="drawer-toggle" id="drawer" />

    <%= render "layouts/dashboard/drawer_side" %>

    <div class="drawer-content">
      <div class="max-w-7xl mx-auto px-6 pb-6">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
